<header>
    <a href="{{ path('sorties') }}">
        <h1>
            Sortir.com
        </h1>
        <img src="{{ asset('img/logo_projet.jpg') }}">
    </a>

<nav>
    <a href="{{ path('sorties') }}">Accueil</a>
    <a href="{{ path('nouvelle_sortie') }}">Proposer une sortie</a>
{#    <a href="{{ path('user_monProfil', {'id'->getUser($id)} }}">Mon profil</a>#}

</nav>

</header>