<div class="entete">
    <header>
        <a href="{{ path('sorties') }}">
            <img alt="Sortir.com" src="{{ asset('img/logoSortirCom.png') }}">
        </a>

    </header>


        <nav>
            {% if app.user %}

                <div class="dropdown">
                    <a href="{{ path('sorties') }}">Les Sorties</a>
                    <div class="dropdown-content">
                        <a href="{{ path('nouvelle_sortie') }}">Ajouter une sortie</a>

                    </div>
                </div>
                <div class="dropdown">
                    <a class="usernav" href="{{ path('user_monProfil', {'id' : app.user.id})}}">
                        {% if app.user.image %}
                            <img class="imgUsernav" src="{{ asset('img/Photos/'~app.user.image) }}" alt=""><br>
                        {% endif %}
                        Mon profil
                    </a>
                    <div class="dropdown-content">
                        <a href="{{ path('user_modifier', {'id' : app.user.id})}}">Modifier mon profil</a>
                        <a href="{{ path('app_logout', {'id' : app.user.id}) }}">Déconnexion</a>
                    </div>
                </div>


            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('register') }}" title="Créer user">Créer user</a>
            {% endif %}
        {% else %}
                <a href="{{ path('app_login') }}">Login</a>
            {% endif %}
        </nav>
</div>