{% extends 'base.html.twig' %}


{% block title %}
    {{ parent() }} - {% if sortieForm.nom.vars.value is empty %}Nouvelle{% else %}Modifier{% endif %} Sortie
{% endblock %}

{% block body %}


        <div class="sortie-form">
            <h1>{% if sortieForm.nom.vars.value is empty %}Nouvelle{% else %}Modifier{% endif %} Sortie</h1>
            {{ form_start(sortieForm) }}
            <div class="form-group">
                {{ form_label(sortieForm.nom) }}
                {{ form_widget(sortieForm.nom, {'attr': {'placeholder': 'Nom de la sortie'}}) }}

                {{ form_label(sortieForm.dateHeureDebut) }}
                {{ form_widget(sortieForm.dateHeureDebut) }}
                {{ form_label(sortieForm.duree) }}
                {{ form_widget(sortieForm.duree, {'attr': {'placeholder': 'Durée de la sortie'}}) }}

                {{ form_label(sortieForm.dateLimiteInscription) }}
                {{ form_widget(sortieForm.dateLimiteInscription, {
                    'attr': {
                        'placeholder': 'Date limite d\'inscription'
                    },
                    'data': (sortieForm.nom.vars.value is empty)
                    ? 'now'|date('Y-m-d H:i:s')
                    : sortie.dateLimiteInscription|date('Y-m-d H:i:s')
                }) }}

                {{ form_label(sortieForm.nbInscriptionMax) }}
                {{ form_widget(sortieForm.nbInscriptionMax, {'attr': {'placeholder': 'Nombre de participants max.'}}) }}

                {{ form_label(sortieForm.infoSortie) }}
                {{ form_widget(sortieForm.infoSortie, {'attr': {'placeholder': 'Description de la sortie'}}) }}

                {{ form_label(sortieForm.lieu) }}
                {{ form_widget(sortieForm.lieu, {'attr': {'placeholder': 'Lieu de la sortie'}}) }}
            </div>

            <div class="form-group text-center">
                <button class="btn" type="submit">Enregistrer</button>
                {% if sortieForm.nom.vars.value is not empty %}
                    <button class="btn" type="submit" name="publier" value="publier">Publier la sortie</button>
                {% else %}

                {% endif %}
                <a class="btnannuler" href="{{ path('sorties') }}">Annuler</a>
            </div>
            {{ form_end(sortieForm) }}
        </div>
{% endblock %}

