{% extends 'base.html.twig' %}

{% block title %}
{{ parent() }} - Nouvelle Sortie
{% endblock %}

{% block body %}
{{ form_start(sortieForm) }}
    {{ form_widget(sortieForm) }}

    <button>Enregistrer</button>

    <button type="submit" name="publier" value="publier">Publier la sortie</button>


    {{ form_end(sortieForm) }}



    <div id="lieu-info"></div>





    <a href="{{ path('sorties') }}"><button>Annuler</button></a>





{% endblock %}

