{% extends 'base.html.twig' %}

{% block body %}

    <h2>{{sortie.nom }}</h2>
    <div>Date de la sortie : {{ sortie.dateHeureDebut|date("d-m-Y H-i") }}</div>
    <div>Cloture des inscriptions :{{ sortie.dateLimiteInscription|date("d-m-Y H-i") }}</div>
    <div>Nombre de Place : {{sortie.nbInscriptionMax }}</div>
    <div>Durée : {{ sortie.duree}} minutes</div>
    <div>{{ sortie.infoSortie }}</div>

    <div>Lieu : {{ sortie.lieu.nom }}</div>
    <div>Rue : {{ sortie.lieu.rue}}</div>
    <div>Ville : {{ sortie.lieu.ville.nom }}</div>
    <div>Lieu : {{ sortie.lieu.ville.codePostal}}</div>
    <div>Lieu : {{ sortie.lieu.nom }}</div>
    <div>Latitude : {{ sortie.lieu.latitude }}</div>
    <div>Longitude : {{ sortie.lieu.longitude }}</div>




    {# todo quand les user seront lier ajouter le nombre de participant #}

    <div>Etat : {{ sortie.etat.libelle }}</div>

    <a href="{{ path('modifier_sortie',{'id':sortie.id()}) }}">Modifier Sortie</a>

{% endblock %}

{% block title %}

{% endblock %}

