{% extends 'base.html.twig' %}

{% block body %}

    <h2>{{sortie.nom }}</h2>
    <div>Date de la sortie : {{ sortie.dateHeureDebut|date("d/m/Y H:i") }}</div>
    <div>Cloture des inscriptions :{{ sortie.dateLimiteInscription|date("d/m/Y") }}</div>
    <div>Nombre de Place : {{sortie.nbInscriptionMax }}</div>
    <div>Durée : {{ sortie.duree}} minutes</div>
    <div>{{ sortie.infoSortie }}</div>

    <div>Lieu : {{ sortie.lieu.nom }}</div>
    <div>Rue : {{ sortie.lieu.rue}}</div>
    <div>Ville : {{ sortie.lieu.ville.nom }}</div>
    <div>Code Postal : {{ sortie.lieu.ville.codePostal}}</div>

    <div>Latitude : {{ sortie.lieu.latitude }}</div>
    <div>Longitude : {{ sortie.lieu.longitude }}</div>


    {% if sortie.inscriptions is empty %}
        <p>Aucun participant n'est inscrit pour cette sortie.</p>
    {% else %}
        <h3>Liste des participants :</h3>
        <ul>
            {% for inscription in sortie.inscriptions %}
{#                TODO : rajouter condition de lien si le user connecté participe à la sortie concernée#}
                <li><a href="{{ path('user_monProfil',{'id':inscription.participant.id})  }}"> {{inscription.participant.prenom}} {{inscription.participant.nom}}</a></li>
            {% endfor %}
        </ul>
    {% endif %}

    <a href="{{ path('modifier_sortie',{'id':sortie.id()}) }}"><button>Modifier Sortie</button></a>

{% endblock %}

{% block title %}

{% endblock %}

