{% extends 'base.html.twig' %}

{% block body %}

    <h2>Bienvenue </h2>
    <br>

    <h3>Listes des sorties : </h3>


    {# TODO ajouter un systeme de liste pour afficher mes sortie en BDD #}

    {% for sortie in sorties %}

        <h5>Nom : {{ sortie.nom }}</h5>
        <div>Date de la sortie : {{ sortie.dateHeureDebut|date("d-m-Y H-i") }}</div>
        <div>Cloture des inscriptions :{{ sortie.dateLimiteInscription|date("d-m-Y H-i") }}</div>
        {# todo quand les user seront lier ajouter le nombre de participant #}
        <div>Nombre de participant : x / {{ sortie.nbInscriptionMax }}</div>
        <div>Etat : {{ sortie.etat.libelle }}</div>
        {# todo faire une ternaire si on est la personne qui poste l'annonce voir moidifer/ supprimer sinon afficher  #}
        <div>Action : <a href="{{ path('sortie', {'id':sortie.id()}) }}">Afficher</a></div>
      


    {% endfor %}


{% endblock %}

{% block title %}
{{ parent() }} - Accueil
{% endblock %}

