{% extends 'base.html.twig' %}

{% block title %}Sortir.com{% endblock %}

{% block body %}

    <div class="userForm">
        <h1>Modifier Mon Profil</h1>

        <div class="form-group">
            {{ form_start(userForm) }}

            {% for flash_error in app.flashes('error') %}
                <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
            {% endfor %}

            {{ form_widget(userForm) }}


{#            <div class="form-group btn-group">#}
{#                {{ form_widget(userForm.enregistrer, {'label': 'Enregistrer', 'attr': {'class': 'btnenregistrer'}}) }}#}
                <a class="btnannuler" href="{{ path('user_monProfil',{'id':app.user.id}) }}">Annuler</a>
{#            </div>#}

            {{ form_end(userForm) }}

        </div>
    </div>

    {#    <div> #}
    {#        #}{# pour contrer la faille de sécu d'injection de code, comme on n'est pas dans un form_widget, il faut créer un token sur le bouton "Delete" #}
    {#        <form action="{{ path('user_modifier', {'id' : participant.id})}}"> #}
    {#            <input type="hidden" name='_token' value="{{ csrf_token('modify'~participant.id) }}"> #}
    {#            <button>Enregistrer</button> #}
    {#        </form> #}
    {#    </div> #}

{% endblock %}



