{% extends 'base.html.twig' %}

{% block title %}Sortir.com{% endblock %}

{% block body %}

    Prénom : {{ user.prenom }}<br>
    Nom : {{ user.nom }}<br>
    Téléphone : {{ user.telephone }}
    Email : {{ user.email }}<br>
    Site de rattachement : {{ user.site.nom }}<br>

    <form action="{{ path('user_modifier', {'id' : user.id})}}">
        <input type="hidden" name='_token' value="{{ csrf_token('modify'~user.id) }}">
        <button>Modifier</button>
    </form>


{#    <div>#}
{#        #}{#pour contrer la faille de sécu d'injection de code, comme on n'est pas dans un form_widget, il faut créer un token sur le bouton "Delete"#}
{#        <form action="{{ path('user_modifier', {'id' : participant.id})}}">#}
{#            <input type="hidden" name='_token' value="{{ csrf_token('modify'~participant.id) }}">#}
{#            <button>Enregistrer</button>#}
{#        </form>#}
{#    </div>#}

{% endblock %}



