{% extends 'base.html.twig' %}

{% block title %}Sortir.com{% endblock %}

{% block body %}

    <h2>{{ user.pseudo }}</h2>
    Prénom : {{ user.prenom }}<br>
    Nom : {{ user.nom }}<br>
    Téléphone : {{ user.telephone }}
    Email : {{ user.email }}<br>
    Site de rattachement : {{ user.site.nom }}<br>

    {% if (user == app.user) %}
        <form action="{{ path('user_modifier', {'id' : user.id})}}">
            <button>Modifier</button>
        </form>
    {% endif %}

{% endblock %}



