{% extends 'base.html.twig' %}

{% block body %}

    <h1>{{ user.pseudo }}</h1>

    <h3>{{ user.id }}</h3>
    <h3>{{ user.email }}</h3>
    <h3>{{ user.nom }}</h3>
    <h3>{{ user.prenom}}</h3>
    <h3>{{ user.site.nom }}</h3>


{% endblock %}

{% block title %}

{% endblock %}

